<user-form (postAddedEvent) = "addPost($event)" > </user-form>

 <app-spinner [visible] = "isloadnig"></app-spinner>
 <div>
   <h3>Posts List:</h3>
   <h5><b>Click On The Chosen Row</b></h5>
   <br>


   <ul class="list-group users">     
         <li class="list-group-item" *ngFor = "let post of posts" >
            <app-post [post] = "post" (deleteEvent) = "deletePost($event)"
                      [post] = "post" (showEvent) = "showPost($event)"         
              ></app-post>  <!--> html atributes will be fedined as [attribute]. 
                       [post] goes to son via inputs [post]?  </!-->  

                       
         </li>
   </ul>
 </div>
